/.idea/.idea.Warcraft Orcs and Humans/.idea/.gitignore
/.idea/.idea.Warcraft Orcs and Humans/.idea/encodings.xml
/.idea/.idea.Warcraft Orcs and Humans/.idea/indexLayout.xml
/.idea/.idea.Warcraft Orcs and Humans/.idea/vcs.xml
